<p>This is the typing section!</p>

<!-- Temporary, to show current settings (to ensure they are being updated correctly) -->
Current settings are:
- Type: 
- Difficulty: 
- Time (optional): 


<div *ngIf="words$ | async as words; else loading">
    <p>{{ words }}</p>
</div>

<ng-template #loading>
    <h3>Loading test...</h3>
</ng-template>

<div>
    <button (click)="generateNewTest()">Restart Test</button>
</div>

<!-- <div *ngIf="wordsP$ | async as words; else loading">
    <p>{{ words }}</p>
</div>

<ng-template #loading>
    <h3>Loading test...</h3>
</ng-template>

<div>
    <button (click)="generateNewLimitedTest()">Restart Test</button>
</div> -->