<div class="typing-group-container">

    <div>
        <div *ngIf="testType === 'time'">
            <div *ngIf="words$ | async as words;">
                <p>{{ words }}</p>
            </div>
        </div>
    
        <div *ngIf="testType === 'words'">
            <div *ngIf="wordsP$ | async as words;">
                <p>{{ words }}</p>
            </div>
        </div>
    
        <div>
            <button (click)="generateNewTest()">Restart Test</button>
        </div>
    </div>
    
    <!-- <ng-template #loading>
        <h3>Loading test...</h3>
    </ng-template> -->

</div>