<div class="settings-group-container">

    <!-- Test type -->
    <div class="settings-group">
        <button 
            class="settings-button" 
            [class.selected]="selectedTestType === 'time'" 
            (click)="selectedType('time')">
            Time
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestType === 'words'" 
            (click)="selectedType('words')">
            Words
        </button>
    </div>

    <!-- Test Difficulty -->
    <div class="settings-group">
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDifficulty === 'easy'" 
            (click)="selectedDifficulty('easy')">
            Easy
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDifficulty === 'hard'" 
            (click)="selectedDifficulty('hard')">
            Hard
        </button>
    </div>

    <!-- Test Word Limit -->
    <div class="settings-group" *ngIf="selectedTestType === 'words'">
        <button 
            class="settings-button" 
            [class.selected]="selectedTestWordLimit === 10" 
            (click)="selectedWordLimit(10)">
            10
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestWordLimit === 20" 
            (click)="selectedWordLimit(20)">
            20
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestWordLimit === 30" 
            (click)="selectedWordLimit(30)">
            30
        </button>
    </div>

    <!-- Test Time Limit -->
    <div class="settings-group" *ngIf="selectedTestType === 'time'">
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDuration === 15" 
            (click)="selectedTimeLimit(15)">
            15
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDuration === 30" 
            (click)="selectedTimeLimit(30)">
            30
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDuration === 45" 
            (click)="selectedTimeLimit(45)">
            45
        </button>
        <button 
            class="settings-button" 
            [class.selected]="selectedTestDuration === 60" 
            (click)="selectedTimeLimit(60)">
            60
        </button>
    </div>

</div>