<!-- <h1>This is the login component!</h1> -->

<div class="container d-flex align-items-center justify-content-center vh-95">

    <div class="form-signin text-center">
        <!-- <div>Register</div> -->
        <h2 class="h3 mb-1 fw-normal">Register</h2>
    
        <form [formGroup]="registrationForm" (submit)="submitUserRegistrationForm()">
            <table>
                <tr>
                    <!-- <td>Username: </td> -->
                    <td>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput" size="30" placeholder="username" formControlName="username">
                            <label for="floatingInput">Username</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- <td>Email: </td> -->
                    <td>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingEmail1" size="30" placeholder="name@example.com" formControlName="email">
                            <label for="floatingEmail1">Email</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- <td>Password: </td> -->
                    <td>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword1" size="30" placeholder="password" formControlName="password">
                            <label for="floatingPassword1">Password</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary w-100 py2" [disabled]="registrationForm.invalid">Sign Up</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
    
    <div class="form-signin text-center">
        <!-- <div>Login</div> -->
        <h2 class="h3 mb-1 fw-normal">Login</h2>
    
        <form [formGroup]="loginForm" (submit)="submitUserLoginForm()">
            <table>
                <tr>
                    <!-- <td>Email: </td> -->
                    <td>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingEmail2" size="30" placeholder="name@example.com" formControlName="email">
                            <label for="floatingEmail2">Email</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- <td>Password: </td> -->
                    <td>
                        <div class="form-floating"> 
                            <input type="password" class="form-control" id="floatingPassword2" size="30" placeholder="password" formControlName="password">
                            <label for="floatingPassword2">Password</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary w-100 py2" [disabled]="loginForm.invalid">Sign In</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

