<div [ngClass]="'theme-' + currentTheme">
  <h1>This is the settings component!</h1>


  <div>
    <button (click)="detectThemeChanges('theme1')">Serika Dark</button>
    <button (click)="detectThemeChanges('theme2')">Future Funk</button>
    <button (click)="detectThemeChanges('theme3')">Dracula</button>
    <button (click)="detectThemeChanges('theme4')">Solarized Light</button>
    <button (click)="detectThemeChanges('theme5')">Solarized Dark</button>
    <button (click)="detectThemeChanges('theme6')">Darling</button>
    <button (click)="detectThemeChanges('theme7')">Lavender</button>
    <button (click)="detectThemeChanges('theme8')">Mizu</button>
  </div>

  <div>
    <h2>KeyboardBuddy Themes Pack</h2>
    <p>$0.01</p>
    <button (click)="goToOrderPreviewPage()">Buy Now</button>
  </div>


</div>