
<div class="container">

    <p>The goal of <code>KeyboardBuddy</code> is to help people improve their typing abilities through frequent practice. By having a simple and minimalist place to type, the user is able to focus on their typing without any distractions.
    
    
    <code>KeyboardBuddy</code> attempts to emulate the experience of natural keyboard typing, by unobtrusively presenting the text prompts and displaying typed characters in-place, providing straightforward, real-time feedback on typos, speed, and accuracy.
        
    Test yourself in various modes, track your progress and improve your speed.
    
    </p>

</div>

